<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bimda.cdshproject.mapper.ContactListMapper">

    <resultMap id="contactInfoMap" type="com.bimda.cdshproject.pojo.vo.UserInfoVO">
        <id property="userId" column="user_id"/>
        <result property="faceUrl" column="face_url"/>
        <result property="userName" column="user_name"/>
        <result property="userNative" column="user_native"/>
        <result property="userPosition" column="user_position"/>
    </resultMap>

    <select id="listContactInfoByRoleId" resultMap="contactInfoMap">
        select ui.user_id, ui.user_name, ui.user_native, ui.user_position, ui.face_url
        from user_info ui left join user_role ur on ui.user_id = ur.user_id where ur.role_id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="listContactInfo" resultMap="contactInfoMap">
        select ui.user_id, ui.user_name, ui.user_native, ui.user_position, ui.face_url
        from user_info ui
    </select>
</mapper>